<hr>
<h3>gets</h3>
{# dump(post) #}

{% for singlePost in post %}
    <article>
        <header>
            <h2>{{ singlePost.sTitle }}</h2>
            <h3>{{ singlePost.sSubTitle }}</h3>
        </header>
        <section>
            <p>description</p>
        </section>
        <footer>
            <p>{{ singlePost.sCategory }}</p>
        </footer>
    </article>
{% endfor %}